/* General Styles */
body {
  background-color: #f4f4f4;
  transition: background-color 0.5s, color 0.5s;
}

.navbar {
  background-color: #343a40;
}

.card {
  margin: 15px 0;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card-body {
  position: relative;
  text-align: center;
}

.btn-primary {
  display: block;
  margin: 10px auto;
}

/* Image Hover Effects */

.img-and-button {
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
}

.img-and-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.img-and-button .project-image img {
  max-width: 100%;
  transition: all 0.3s ease;
}

.img-and-button:hover .project-image img {
  transform: scale(1.05);
}

/* Dark theme */

body.dark {
  background-color: #343a40;
  color: #f4f4f4;
}

body.dark .navbar {
  background-color: #f4f4f4;
}

body.dark .navbar a,
body.dark .navbar button {
  color: #343a40;
}

body.dark .card {
  background-color: #464e56;
  color: #f4f4f4;
}

body.dark .card a {
  color: #f4f4f4;
}

/* Theme Toggle Button Styles */

#theme-toggle:hover {
  background-color: #dddddd;
}

body.dark #theme-toggle {
  background-color: #f4f4f4;
  color: #343a40;
  border-color: #343a40;
}

body.dark #theme-toggle:hover {
  background-color: #343a40;
  color: #f4f4f4;
}

/* Overlay Styles */

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 1.3rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.img-and-button:hover .project-overlay {
  opacity: 1;
}
