:root {
  --body-font: "Roboto", sans-serif;
  --heading-font: "Anek Telugu", sans-serif;
}

/* Nav Styling */



/* Main Styling */

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  color: rgb(255, 255, 255);
  background-color: #000000;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../images/marsbackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(3px) brightness(0);
  -webkit-filter: blur(3px) brightness(0.4);
  z-index: -1;
}

/* Styling for Button */

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.morebutton {
  width: 50%;
}

.morebutton > img {
  height: 1rem;
  width: 1rem;
}

/* Styling for Rating */

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating > input {
  display: none;
}

.rating > label {
  position: relative;
  width: 1.1em;
  font-size: 1.5rem;
  color: #fffc4f;
  cursor: pointer;
}

.rating > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1;
}

.rating > input:checked ~ label:before {
  opacity: 1;
}

.rating:hover > input:checked ~ label:before {
  opacity: 0.6;
}

/* Card Styling */

.card {
  background-color: rgba(255, 255, 255, 0.2);
  max-width:70%;
  padding: 1rem;
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, .4);
}

.wrapper {
  padding: 2rem 2rem 1rem 2rem ;
}

.top {
  display: flex;
  gap: 1rem;
}

.cover-rating {
  display: flex;
  flex-direction: column;
  max-width: 35%;
}

.title-preview {
  display: flex;
  flex-direction: column;
  max-width: auto;
}

.title-preview > h2 {
  font-family: var(--heading-font);
  color: rgb(255, 197, 33);
  font-weight: 800;
  font-size: 3rem;
}

.title-preview > p.author {
  font-family: var(--body-font);
  color: rgb(255, 255, 255);
  font-weight: 100;
  margin-block-end: 1rem;
}

.title-preview > p.author > span {
  font-family: var(--body-font);
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.title-preview > p.snippet {
  font-family: var(--body-font);
  margin-block-end: 2rem;
}